
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-icon-myapp-logo {
    background-image: url("../img/header.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left center;
    }

    .ui-icon-myapp-video {
    background-image: url("../img/icon_slate2.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center 10px;
    }

    .ui-icon-myapp-picture {
    background-image: url("../img/icon_slr2.png");
    background-size: 16px 14px;
    background-repeat: no-repeat;
    background-position: center 11px;
    }

    .ui-icon-myapp-text {
    background-image: url("../img/icon_pencil43.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center 10px;
    }

    .ui-icon-myapp-sound {
    background-image: url("../img/icon_microphone9.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center 10px;
    }

.ui-icon-myapp-home {
    background-image: url("../img/icon_home153.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 34px 38px;
}

    .ui-icon-myapp-map {
    background-image: url("../img/icon_location32.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center -9px;
    }

    .ui-icon-myapp-upload {
    background-image: url("../img/icon_upload36.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center 0;
    }
}

@media only screen {
    .ui-icon-myapp-logo {
    background-image: url("../img/header.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left center;
  }

    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        display: block;
    }

    #answers a {
        width: 15%;
    }

    .ui-icon-myapp-video {
    background-image: url("../img/icon_slate2.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center 10px;
    }

    .ui-icon-myapp-picture {
    background-image: url("../img/icon_slr2.png");
    background-size: 16px 14px;
    background-repeat: no-repeat;
    background-position: center 11px;
    }

    .ui-icon-myapp-text {
    background-image: url("../img/icon_pencil43.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center 10px;
    }

    .ui-icon-myapp-sound {
    background-image: url("../img/icon_microphone9.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center 10px;
    }
    .ui-icon-myapp-home {
    background-image: url("../img/icon_home153.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 34px 38px;
}

    .ui-icon-myapp-map {
    background-image: url("../img/icon_location32.png");
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center -9px;
    }

    .ui-icon-myapp-upload {
    background-image: url("../img/icon_upload36.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center 0;
    }
}

#submitButton{
    height: 60px;
}
.ui-title{
    color: #e6e9ed !important;
    border: none !important;
    font-size: 1.2em !important;
}
.ui-page{
    background-color: #e6e9ed !important;
}
.ui-header, .ui-footer {
    background-color: #313941 !important;
}

.gameList{
    height: 65px;
    display: block;
}

.ui-btn-left, .ui-btn-right {
    margin-top: 5px !important;
}

footer .ui-btn {
    padding-top: 35px !important;
}

#subnav {
    height: 180px;
    padding-left: 10px;
    width: 195px;
    background-color: #656565 !important;
    border-radius: 0.6em;
}

#subnav li {
    height: 40px;
    margin-top: 15px;
    width: 180px;
}

#subnav li a {
    /*border: 1px solid #bbbbbb;*/
   border-radius: 0.6em;
}

.app {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#login_footer_img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

#loginForm img{
    width: 30px;
    float: left;
    border: 1px solid #656565;
    border-radius: 0.6em;
    display: block;
    height: 35px;
}

#loginForm {
  margin-top: 60px;
}

.input {
    width: 90%%;
    margin-left: 35px;
}

footer div {
    text-align: center;
    width: 100%;
}

footer div a {
    width: 25%;
}

footer .ui-btn-icon-top::after {
    display: none;
}

footer .ui-btn {
    padding-top: 65px;
}

#gameList > li, #placesList > li, #taskList > li {
  border-radius: 10px !important;
}

#taskTitle, #locationTitle, #placesTitle, #spieleTitle {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}

.imageContainer {
    width: 100%;
}

#taskImage, #locationImage {
  display: block;
  max-width: 60%;
  margin: auto;
}

.answerDetailImage {
  margin: auto;
  display: block;
  max-width: 90%;
}

/*#map {
  height: 400px;
}*/

.map {
  height: 400px;
  width: 100%;
  margin:0 auto;
  margin-left: -10px;
}

/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/** {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    display: block;
}

header , footer {
    background-color: #656565;
    position: fixed;
    z-index: 999;
    color: #e7e7e7;
}

header {
    width: 100%;
    min-height: 40px;
    top: 0;
}

#back {
    background-image: url("../img/icon_back44.png");
    background-repeat: no-repeat;
    width: 35%;
    min-height: 30px;
    background-size: contain;
    display: block;
    margin-top: 5px;
    margin-left: -30px;
    text-align: left;
}

#back a {
    width: 30px;
    min-height: 30px;
    display: block;
}

#title {
    width: 60%;
}*/

/*#title img {
    float: left;
    margin-right: 10px;
    width: 30px;
    min-height: 30px;
    margin-top: 5px;
}*/

/*#options {
    background-image: url("../img/icon_menu34.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
    display: block;
    margin-top: 5px;
}

header ul {
    list-style: none;
}

header ul li {
    float: left;
}*/

/*header ul li ul {
    margin-left: -40px;
    margin-top: 30px;
    background-color: #656565;
    width: 60px;
    height: 80px;
    padding-top: 15px;
    display: none;
}

header ul:hover li ul {
    display: block;
}

header ul li ul li {
    width: 60px;
    text-align: right;
    margin-right: 15px;
    margin-left:
    clear: both;
    margin-left: -30px;
    height: 25px;
}

header ul li ul li a {
    text-decoration: none;
    color: #e7e7e7;
}*/

/*#main {
    background-color: #e7e7e7;
    clear: both;
    margin-bottom: 22%;
    margin-top: -13%;
    position: relative;
    width: 100%;
    z-index: 10;
}

#loginForm {
    margin-top: 80px;
}

#loginForm label {
    float: left;
    margin-top: 20px;
}

#loginForm input {
    height: 40px;
    width: 200px;
    margin-top: 5px;
}

#submitButton {
    margin-left: 70px;
}

.mainButton {
    height: 40px;
    width: 200px;
    margin-top: 5px;
    margin-left: 70px;
}

footer {
    width: 100%;
    height: 90px;
    bottom: 0;
}

footer ul {
    list-style: none;
    margin-top: 5px;
}

footer ul li {
    float: left;
    width: 33%;
    margin-right: 5%;
}

footer ul li img{
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
    border: none;
    margin-left: 22%;
}

footer ul li h3 {
    margin-left: 26%;
    margin-top: 0px;
}

#home {
    margin-left: -30px;
    border-right: 1px solid #e7e7e7;
}

#map {
    border-right: 1px solid #e7e7e7;
}

#upload {
    margin-right: 0;
    width: 30px;
}


#home img {
    background-image: url("../img/icon_home153.png");
}

#map img {
    background-image: url("../img/icon_location32.png");
}

#upload h3 {
    margin-left: 56%;
}

#upload img {
    background-image: url("../img/icon_upload36.png");
    margin-left: 55%;
}*/


/* Portrait layout (default) */
/*.app {
    background:url(../img/logo.png) no-repeat center top;
    position:absolute;
    left:50%;
    top:40%;
    height:50px;
    width:300px;
    text-align:center;
    margin:-115px 0px 0px -112px;
}*/

/*input {
    height: 40px;
    width: 200px;
    border: solid thin #656565;
    border-radius: 15px;
}

button {
    color: #656565;
    background: #ffffff;
}

#login_btn {
    width: 200px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}*/

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;

    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}*/
